<section class="bg-base-200 justify-items-start items-start" id="about">
  <section class="pt-10">
    <div class="container max-w-5xl px-4 py-12 mx-auto">
      <div class="grid gap-4 mx-4 sm:grid-cols-12">
        <div class="col-span-12 sm:col-span-3">
          <div class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-primary">
            <h3 class="text-3xl font-semibold">Timeline</h3>
          </div>
        </div>
        <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
          <div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-300">
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">Engineering school graduation </h3>
              <time class="text-xs tracking-wide uppercase text-primary">Sept 2024</time>
              <p class="mt-3 text-primary">Graduate from ESIR with a computer science information systems engineering degree.</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">GameJam ESIR 3rd place</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Apr 2024</time>
              <p class="mt-3 text-primary">Development of a game in 40 hours at ESIR's gameJam on the theme "choose your end".</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">Software developer inter at Scalian DS</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Sept 2023 - Sept 2024</time>
              <p class="mt-3 text-primary">Software development in an inventory application for the Ministère de l'intérieur et des armées.</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">Research intern at Unamur</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Jun 2023 - Aug 2023</time>
              <p class="mt-3 text-primary">Researching fairness bias in machine learning using a data mutation pipeline.</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">
                Adapted vacation coordinator</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Aug 2022</time>
              <p class="mt-3 text-primary">Accompaniment of disabled holidaymakers, planning and budget management.</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">Software development inter at Mairie de Fougères</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Jun 2022</time>
              <p class="mt-3 text-primary">Software development on various in-house tools.</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">GameJam ESIR 1st place</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Jan 2020</time>
              <p class="mt-3 text-primary">Development of a game in 40 hours at ESIR's gameJam on the theme "Safe in the dark".</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">Heritage assistant at Fougères's castle</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Aug 2020</time>
              <p class="mt-3 text-primary">Distribution of audio guides and orientation or advice to visitors in the city.</p>
            </div>
            <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-primary">
              <h3 class="text-xl font-semibold tracking-wide">First year of preparatory classes at ESIR</h3>
              <time class="text-xs tracking-wide uppercase text-primary">Sept 2019</time>
              <p class="mt-3 text-primary">Beginning of my higher education studies at ESIR.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

