<section class="hero min-h-screen max-h-screen" id="home" style="background-image: url(/assets/images/skyline-downtown-new-york-new-york-usa.jpg);">
  <section class="hero-overlay bg-opacity-50"></section>

  <section class="hero-content flex-col lg:flex-row-reverse 2xl:ww-11/12">
    <img src="/assets/images/IMG_577322-PhotoRoom.jpg" class="w-56 md:w-60 lg:w-80 2xl:w-96 mask mask-hexagon shadow-2xl" />

    <section class="md:mr-0 xl:mr-32 2xl:mr-32 md:w-5/12 2xl:w-10/12 bg-neutral bg-opacity-60 p-5 rounded-3xl">
      <h1 class="text-2xl md:text-4xl 2xl:text-6xl 2xl:mb-6 font-bold">Hi, I'm Camille!</h1>

      <h2 class=" md:text-2xl 2xl:text-3xl">Software engineering student</h2>

      <p class="py-6 md:text-md 2xl:text-xl">I am a passionate student developer specializing in software development and machine learning</p>

      <button class="btn btn-primary normal-case mi- w-32 lg:w-32 xl:w-40 2xl:w-44 lg:h-1 xl:h-1/12 2xl:h-14 text-xs xl:text-md 2xl:text-lg">
        Contact me
        <svg xmlns="http://www.w3.org/2000/svg" class=" fill-neutral w-3 lg:w-3 xl:w-4 2xl:w-5 h-3 lg:h-3 xl:h-4 2xl:h-5 ml-1 xl:ml-2 2xl:ml-2" viewBox="0 0 24 24" id="paper-plane"><path d="M20.34,9.32l-14-7a3,3,0,0,0-4.08,3.9l2.4,5.37h0a1.06,1.06,0,0,1,0,.82l-2.4,5.37A3,3,0,0,0,5,22a3.14,3.14,0,0,0,1.35-.32l14-7a3,3,0,0,0,0-5.36Zm-.89,3.57-14,7a1,1,0,0,1-1.35-1.3l2.39-5.37A2,2,0,0,0,6.57,13h6.89a1,1,0,0,0,0-2H6.57a2,2,0,0,0-.08-.22L4.1,5.41a1,1,0,0,1,1.35-1.3l14,7a1,1,0,0,1,0,1.78Z"></path></svg>
      </button>
    </section>
  </section>
  <a class="absolute bottom-0 left-0 m-2 text-xs" href="https://www.freepik.com/free-photo/skyline-downtown-new-york-new-york-usa_10480160.htm#query=night%20city&position=7&from_view=search&track=ais">
    ©️ Image by vwalakte on Freepik</a>
</section>
